.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: .5rem;
    border: 2px solid var(--primary-500);
}

#email,
#password {
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--neutral-300);
}

.login {
    margin: .5rem;
    font-weight: bold;
    padding: .5rem;
}

.button {
    padding: .5rem 1rem;
    margin: .5rem;
    background-color: var(--secondary-500);
    border-radius: .5rem;
}

@media (max-width: 600px) {
    .wrapper {
        width: 80%;
    }
}